/** General styles (scope: all of lesson) **/
.path-mod-lesson .contents,
.path-mod-lesson .standardtable,
.path-mod-lesson .mform .box.contents,
.path-mod-lesson .invisiblefieldset.fieldsetfix tr {text-align: left;}
.path-mod-lesson #layout-table {width: 100%;}
.path-mod-lesson .edit_buttons form,
.path-mod-lesson .edit_buttons input {display: inline;}
.path-mod-lesson .userinfotable .cell,
.path-mod-lesson .userinfotable .userpicture {vertical-align: middle;}
.path-mod-lesson .invisiblefieldset.fieldsetfix {display: block;}
.path-mod-lesson .slideshow {overflow: auto;padding: 15px;}
.path-mod-lesson .menu .menuwrapper {max-height: 400px;overflow: auto;vertical-align: top;margin-bottom: 10px;}
.path-mod-lesson .menu ul {list-style: none;padding: 5px 0px 0px 5px;margin: 0px;}
.path-mod-lesson .menu ul li {padding-bottom: 5px;}
.path-mod-lesson .skip {position: absolute;top: -1000em;width: 20em;}
.path-mod-lesson .branchbuttoncontainer.horizontal div,
.path-mod-lesson .branchbuttoncontainer.horizontal form {display: inline;}
.path-mod-lesson .firstpageoptions {width:30%;margin-left:35%;margin-top:1em;}
.path-mod-lesson .progress_bar_table,
.path-mod-lesson .progress_bar_completed,
.path-mod-lesson .progress_bar_todo {padding: 0;margin: 0;}
.path-mod-lesson .progress_bar_token {height: 20px;width: 5px;padding: 0;margin: 0;}
.path-mod-lesson .edit_pages_box .addlinks {margin:0;margin-bottom:1em;}
.path-mod-lesson .progress_bar_completed {background-color:green; text-align:right; vertical-align:middle; color:#FFF;}

.path-mod-lesson .resourcecontent {text-align: center;}

.path-mod-lesson .answeroption .fcheckbox > span {
    position: relative;
    float: left;
}

.path-mod-lesson .answeroptiongroup .fgroup > span {
    position: relative;
    width: 100%;
}

.path-mod-lesson .answeroption .fcheckbox input,
.path-mod-lesson .answeroptiongroup input {
    position: absolute;
    top: 2px;
    margin-top: 0px;
    left: 0;
}

.path-mod-lesson .answeroption .fcheckbox label,
.path-mod-lesson .mform .fitem.answeroptiongroup fieldset.fgroup label {
    padding-left: 20px;
    float: left;
}

.path-mod-lesson .answeroption .felement label p:last-child,
.path-mod-lesson .answeroptiongroup .felement label p:last-child {
    margin-bottom: 0px;
}

.path-mod-lesson.dir-rtl .answeroption .fcheckbox > span {
    float: right;
}

.path-mod-lesson.dir-rtl .answeroption .fcheckbox input,
.path-mod-lesson.dir-rtl .answeroptiongroup .fgroup input {
    left: inherit;
    right: 0;
}

.path-mod-lesson.dir-rtl .answeroption .fcheckbox label,
.path-mod-lesson.dir-rtl .mform .fitem.answeroptiongroup fieldset.fgroup label {
    padding-left: 0;
    padding-right: 20px;
    float: right;
}

/**
 * Style for view.php
 **/
#page-mod-lesson-view .password-form .submitbutton {display: inline;}
.path-mod-lesson .reviewessay {width:40%; border:1px solid #DDDDDD; background-color: #EEEEEE;}

.path-mod-lesson.dir-rtl .contents,
.path-mod-lesson.dir-rtl .standardtable,
.path-mod-lesson.dir-rtl .mform .box.contents,
.path-mod-lesson.dir-rtl .invisiblefieldset.fieldsetfix tr {text-align: right;}

/* Countdown timer. */
#lesson-timer {
    text-align: center;
}

.path-mod-lesson .essayungraded {
    background-color: #efcfcf;
}

.path-mod-lesson .essaygraded {
    background-color: #efefcf;
}

.path-mod-lesson .essaysent {
    background-color: #cfefcf;
}

/**** Table of contents ****/
.btn.btn-content-table i {
	margin-right: 7px;
}

.content-table {
	float: left;
	width: 0;
    height: 0;
	transition: all .35s ease;
	overflow: hidden;
}

.content-table.collapsed {
	width: 300px;
    height: auto;
	margin-right: 20px;
}

@media (max-width: 1350px) {
	body #region-main .mform:not(.unresponsive) .fitem .fitemtitle {
		display: block;
		margin-top: 4px;
		margin-bottom: 4px;
		text-align: left;
		width: 100%;
	}
	body #region-main .mform:not(.unresponsive) .fitem .felement {
		margin-left: 0;
		width: 100%;
		float: left;
		padding-left: 0;
		padding-right: 0;
	}
	body #region-main .mform:not(.unresponsive) .fitem.fitem_fradio .fitemtitle,
	body #region-main .mform:not(.unresponsive) .fitem.fitem_fcheckbox .fitemtitle {
		display: none;
	}
}

@media (max-width: 980px) {
	.content-table.collapsed {
		width: 100%;
		margin-right: 20px;
	}
}

.content-table-title {
	font-size: 18px;
	margin-top: 22px;
}

.content-table ul {
	list-style: none;
	min-width: 300px;
	margin: 0 0 1px;
}

.content-table ul li a,
.content-table ul li button,
.content-table ul li button:focus {
	display: block;
	color: #333;
	font-size: 15px;
	position: relative;
	padding: 10px 15px;
	background: #fff;
	border: 1px solid #ddd;
	text-align: left;
	margin: 0 0 -1px 0;
	outline: none;
	box-shadow: none;
	text-shadow: none;
	border-radius: 4px;
}

.content-table ul li button {
	width: 100%;
}

.content-table ul li.active a,
.content-table ul li.active button,
.content-table ul li.active a:focus,
.content-table ul li a:hover,
.content-table ul li button:hover,
.content-table ul li button:active,
.content-table ul li.active button:focus {
	color: #fff;
	background: #337ab7;
	border: 1px solid #ddd;
	text-decoration: none;
	outline: none;
	box-shadow: none;
}

.content-table ul li a i,
.content-table ul li button i {
	margin-right: 10px;
	font-size: 12px;
}

.btn-quiz {
	margin-left: 15px;
}

/**** Lesson navigation buttons ****/
.branchbuttoncontainer {
	display: none;
}
.lesson-pagenav-buttons {
	margin-top: 20px;
}

.lesson-pagenav-buttons.fixed_nav {
	position: fixed;
	bottom: 0;
	background: #fff;
	padding: 10px 0;
}

.btn-prev {
	float: left;
}

.btn-next {
	float: right;
}

.lesson-pagenav-buttons .btn.btn-nav {
	margin-left: 0;
}

/**** Progress bar ****/
.box.progress_bar .progress_bar {
	width: 500px;
	margin: 50px auto 0;
	background-color: #337ab7;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
}

.progress_bar_rate {
	background-color: #265e8e;
	float: left;
	padding: 5px 7px;
	border-radius: 5px;
	margin-right: 10px;
	text-align: center;
	min-width: 36px;
}

.progress_bar_completed_wrapper {
	width: 438px;
	background: #fff;
	height: 12px;
	float: left;
	border-radius: 10px;
	margin-top: 8px;
	overflow: hidden;
}

.box.progress_bar .progress_bar .progress_bar_completed {
	background-color: #265e8e;
	height: 12px;
}

/**** Page view ****/
.lesson-wrapper-table {
	display: table;
}

.lesson-wrapper-table .continue-btns {
	text-align: center;
}

.lesson-wrapper-table .continue-btns form,
.lesson-wrapper-table .continue-btns .singlebutton {
	display: inline-block;
}

.lesson-wrapper-table .continue-btns input[type="submit"] {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #005aa8;
	background-image: -moz-linear-gradient(top, #0070a8, #0038a8);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0070a8), to(#0038a8));
	background-image: -webkit-linear-gradient(top, #0070a8, #0038a8);
	background-image: -o-linear-gradient(top, #0070a8, #0038a8);
	background-image: linear-gradient(to bottom, #0070a8, #0038a8);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0070a8', endColorstr='#ff0038a8', GradientType=0);
	border-color: #0038a8 #0038a8 #001e5c;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.lesson-wrapper-table .continue-btns input[type="submit"]:hover {
	color: #fff;
	background-color: #0038a8;
}

.lesson-wrapper .box.generalbox.boxaligncenter,
.lesson-wrapper h3 {
	text-align: center;
}

.lesson-wrapper .box.center {
	text-align: center;
	margin-top: 15px;
}

.lesson-finish-btns {
	text-align: center;
	margin-top: 30px;
}

.lesson-finish-btns a.btn {
	margin: 0 10px;
}

/**** Questions styles ****/
.lesson-wrapper-table .mform .answeroption {

}

.lesson-wrapper-table .mform .fitem {

}

.lesson-wrapper-table .mform .fitem .fitemtitle {

}

.lesson-wrapper-table .mform .fitem .fitemtitle label {
	color: #337ab7;
}

.lesson-wrapper-table .mform .fitem .felement label {
	color: #337ab7;
	float: right;
}

.lesson-wrapper-table .mform .fitem .felement {

}

.lesson-wrapper-table .mform .fitem .felement input[type="radio"],
.lesson-wrapper-table .mform .fitem .felement input[type="checkbox"] {
	display: none;
}

.lesson-wrapper-table .mform .fitem .felement input[type="radio"]+label:before,
.lesson-wrapper-table .mform .fitem .felement input[type="checkbox"]+label:before {
	content: '';
	display: inline-block;
	width: 18px;
	height: 18px;
	border: 1px solid #337ab7;
	margin-right: 5px;
	border-radius: 50%;
}

.lesson-wrapper-table .mform .fitem .felement input[type="checkbox"]+label:before {
	border-radius: 0;
}

.lesson-wrapper-table .mform .fitem .felement input[type="radio"]:checked+label:before,
.lesson-wrapper-table .mform .fitem .felement input[type="checkbox"]:checked+label:before {
	background: #337ab7;
}

.lesson-wrapper-table .mform .fitem .felement input[type="radio"]+label p,
.lesson-wrapper-table .mform .fitem .felement input[type="checkbox"]+label p {
	float: right;
}

/*
.lesson-wrapper-table .mform .fitem .felement.fselect {

}

.lesson-wrapper-table .mform .fitem .felement.feditor {

}

.lesson-wrapper-table .mform .fitem .felement.fradio {

}

.lesson-wrapper-table .mform .fitem .felement.ftext {

}

.lesson-wrapper-table .mform .fitem .felement.fgroup {

}
*/

/**** Question ajax styles ****/
.preloader {
	background-image: url([[pix:lesson|preloader]]);
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
	margin: 0 0 10px 5px;
	vertical-align: middle;
	display: none;
}

